body{
	background-color: black;
}
.table{
	width: 50%;
	float: left;
}
.pieces{
	width: 50%;
	float: right;
}
.image{
	position: absolute;
	top: 50px;
	left: 500px;
}
.section{
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 10px;
}

.o1{
	top: 20px;
	left: 719px;
	position: absolute;
}
@for $i from 1 to 10{
	@for $j from 1 to 4{
		
		@if $i<3{
			.s#{$i}x#{$j}{
				border-bottom: solid white 2px;
			}
		}

		@if $j<3{
			.s#{$i}x#{$j}{
				border-right: solid white 2px;
			}
		}
	}
}
