body {
  background-color: black; }

.winner-section {
  display: none;
  left: 10px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 10px; }

.board {
  width: 650px; }

.section {
  background-color: black;
  width: 200px;
  height: 200px;
  float: left;
  font-family: arial;
  font-weight: bold;
  font-size: 200px;
  line-height: 200px;
  text-align: center; }

.winner {
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 200px; }

.s1x1 {
  border-bottom: solid white 2px; }

.s1x1 {
  border-right: solid white 2px; }

.s1x2 {
  border-bottom: solid white 2px; }

.s1x2 {
  border-right: solid white 2px; }

.s1x3 {
  border-bottom: solid white 2px; }

.s2x1 {
  border-bottom: solid white 2px; }

.s2x1 {
  border-right: solid white 2px; }

.s2x2 {
  border-bottom: solid white 2px; }

.s2x2 {
  border-right: solid white 2px; }

.s2x3 {
  border-bottom: solid white 2px; }

.s3x1 {
  border-right: solid white 2px; }

.s3x2 {
  border-right: solid white 2px; }
